@page
@model encore.Pages.LoginmaeModel
@{
    ViewData["Title"] = "会員登録画面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>会員登録</h1>

<form method="post" asp-page-handler="Insert">
    <label>なまえ：</label>
    <input type="text" asp-for="Name" required />
    <button type="submit">なまえを登録</button>
</form>

<form method="post" asp-page-handler="Delete">
    <label>削除したいなまえ：</label>
    <input type="text" asp-for="DelName" required />
    <button type="submit">なまえを削除</button>
</form>

@if (Model.Message != null)
{
    <p>@Model.Message</p>
}
