@page
@model encore.Pages.LogingoModel
@{
    Layout = "_Layout";
}
<title>@Model.Title</title>

<h1>@Model.WelcomeMessage</h1>
<p>登録が完了しました。ここから会員向け機能を使えます。</p>

<h3>
<a asp-page="/Loginmae">← 登録画面に戻る</a>
</h3>
<a asp-page="/Kiroku">ライブを記録する</a>

