@{
    ViewData["Title"] = "管理画面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ライブ記録</h1>

<form asp-action="Insert_band" method="post">
    <label>バンド名：</label>
    <input type="text" name="band_name" required />
    <button type="submit">バンド名を登録</button>
</form>

<form asp-action="Delete_band" method="post">
    <label>削除したいバンド名：</label>
    <input type="text" name="del_band_name" required />
    <button type="submit">バンド名を削除</button>
</form>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
