@{
    ViewData["Title"] = "会員登録画面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>会員登録</h1>

<form asp-action="Insert" method="post">
    <label>なまえ：</label>
    <input type="text" name="name" required />
    <button type="submit">なまえを登録</button>
</form>

<form asp-action="Delete" method="post">
    <label>削除したいなまえ：</label>
    <input type="text" name="delname" required />
    <button type="submit">なまえを削除</button>
</form>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
